<h1><%= @user.username %> Events</h1>

<%if @user.created_events.empty? %>
    <p>This User has no created events</p>
<% else %>
    <ul>
        <% @user.created_events.each do |event| %>
            <li><%= event.name %>, <%= event.location %> starts at <%= event.date %></li>
        <% end %>
    </ul>
<% end %>
