<h1><%= @user.username %> Events</h1>

<%= render "shared/events_list", type: "created", events: @user.created_events %>

<%= render "shared/events_list", type: "upcoming", events: @user.attended_events.upcoming %>

<%= render "shared/events_list", type: "past", events: @user.attended_events.past %>
 