<h1>All Events</h1>

<% if @events.empty? %>
    <p>There are no events</p>
<% else%>
    <ul>
        <% @events.each do |event| %>
            <li><%= link_to event.name.capitalize, event_path(event.id) %></li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Add new Event", new_event_path %>