<h1>All Events</h1>

<%= render "shared/events_list", type: "future", events: @events.upcoming %>
<%= render "shared/events_list", type: "past", events: @events.past %>




<%= link_to "Add new Event", new_event_path %>